/UnityVS.VersionSpecific.dll.meta
/UnityVS.VersionSpecific.dll
/SyntaxTree.VisualStudio.Unity.Messaging.dll.meta
/SyntaxTree.VisualStudio.Unity.Messaging.dll
/SyntaxTree.VisualStudio.Unity.Bridge.dll.meta
*.VisualStudio.Unity.Bridge.dll
